.contenido_reproductor_container{
    width: 100%;
    height: 100%;
    background: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.reproductor{
    height: 100%;
    width: 100%;
}
.reproductor_img{
    height: 100%;
}

.btn_control{
    width: 3rem;
    height: 3rem;
    line-height: normal;
    background: transparent;
    border: none;
}
.btn_control > i{
    color: white;
    font-size: 3rem;
    opacity: 0.8;
}
.control_siguiente_btn{
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 10px;
}

.control_anterior_btn{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 10px;
}