@import './normalize.css';
@import '../styles/googlefonts/fonts.css';
@import '../assets/fontawesome/css/fontawesome.css';
@import '../assets/fontawesome/css/brands.css';
@import '../assets/fontawesome/css/solid.css';

*{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

body{
    width: 100vw;
    height: 100vh;
}